$color-base: #fbf773;
$color-main-text: #474747;
$color-link: #878378;
$color-reverse-line: #fee;
$color-reverse-fill: #252525;
$color-black: #252525;
$color-main-text: #474747;
$color-white: #FFFFFF;
$color-content: #DDDDDD;
$space-unit: 20px;
$base-content-width: 1180px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;
$color-link: #FFFFFF;
$font-sub: Lato;

//break points
$sp-max-width: 640px;
$pc-min-width: 641px;

